<p>Introduzca el código de verificación que te hemos enviado al móvil</p>
<%= form_for @verification do |f| %>
  <%= f.text_field :code, value: '' %>
  <div><%= f.submit "Enviar" %></div>
<% end %>

<%= @verification.code %>