<% @title = "Verifica tu voto, introduce tu código de verificación" %>
<h1 class="rajoy-headline">Verifica tu voto</h1>
<div class="container">
  <div class="rajoy-row-narrow">
    <div id="slider" class="ui-wizard ui-wizard-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
        <div class="ui-wizard-label-pos" style="left: 0%;"><span class="ui-wizard-label">Vota</span></div> 
        <div class="ui-wizard-label-pos" style="left: 50%;"><span class="ui-wizard-label">Verifica tu voto</span></div>
        <div class="ui-wizard-label-pos" style="left: 100%;"><span class="ui-wizard-label">Opina</span></div>    
        <div class="ui-wizard-range ui-widget-header ui-corner-all ui-wizard-range-min" style="width: 50%;"></div>    
        <span class="ui-wizard-step ui-wizard-step-done ui-state-default ui-corner-all"  style="left: 0%;"><i class="fui-check-inverted"></i></span>     
        <span class="ui-wizard-step ui-wizard-step-current ui-state-default ui-corner-all"  style="left: 50%;">2</span>
        <span class="ui-wizard-step ui-state-default ui-corner-all" style="left: 100%;">3</span>
    </div>
  </div>
  
  <div class="rajoy-row pbl">
    <h3>Introduzca el Código de Verificación que le hemos enviado a su móvil</h3>
    <p>Si no ha recibido un SMS con el código, <a href="<%= new_verification_path %>">vuelva a intentárlo.</a></p>       
  </div> 
  <div class="rajoy-row">
    <%= render "shared/flash" %>
    <%= form_for @verification, html: {id: 'form'} do |f| %>
      <div class="code-col" >
         <%= f.text_field :code, value: '', placeholder: "Código de Verificación", class: "huge code-col" %>
      </div>
      <div class="code-col">
         <a href="#" id="submit" class="btn btn-huge btn-block btn-primary btn-embossed">
           <i class="fui-check-inverted"></i>
           Completar Voto
         </a>
      </div>
    <% end %>
  </div>
</div>