<div class="rajoy-row">
  <h2>¿Cree que Mariano Rajoy debe dimitir como Presidente del Gobierno?</h2>
</div>    
<div class="rajoy-row">
  <div class="rajoy-col">
    <a href="<%= new_verification_path %>" class="btn btn-huge btn-block btn-primary btn-embossed mlm">Sí</a>
  </div>
  <div class="rajoy-col">
    <a href="<%= new_verification_path %>" class="btn btn-huge btn-block btn-primary btn-embossed mlm">No</a>
  </div>
</div>